/* LAYOUT */

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0 auto;
	padding: 0;
  background-color: var(--color-monochrome-000);
  color: var(--color-monochrome-500);
  font-family: var(--body-font-family);
  font-size: clamp(12px, .8rem + .25vw, 20px);
}

.container {
	display: block;
	margin: 0 auto;
	max-width: var(--container-width);
	padding: 0 1rem;
	width: 100%;
}

.container-full {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
