body {
  background: var(--color-mono-000);
  color: var(--color-mono-500);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
}

/* Set flex:auto so that main content can grow and push footer down */
main {
  flex: auto;
}
