.markdown {
	font-family: var(--font-body-family);
	font-size: var(--font-body-size);
	font-weight: var(--font-body-weight);
  container-type: inline-size;

	hr {
		border: 0.5px solid var(--color-mono-200);
		color: var(--color-mono-100);
		margin-block-start: var(--space-l-r3);
		width: 100%;
	}

	picture,
	img {
		width: 100%;
	}

  a {
    color: currentColor;
    text-underline-offset: 2px;
  }

  a:hover {
    text-underline-offset: 4px;
  }

  :is(p, ul, ol, pre) {
    margin-block-start: var(--font-body-margin-block-start);
  }

  :is(h1, h2, h3, h4) {
    font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
  }

  h1 {
    font-size: var(--font-heading-size-1);
    margin-block-start: var(--font-heading-margin-block-start-1);
  }

  h2 {
    font-size: var(--font-heading-size-2);
    margin-block-start: var(--font-heading-margin-block-start-2);
  }

  h3 {
    font-size: var(--font-heading-size-3);
    margin-block-start: var(--font-heading-margin-block-start-2);
  }

  h4 {
    font-size: var(--font-heading-size-4);
    margin-block-start: var(--font-heading-margin-block-start-2);
  }

  h1 + h2 {
    margin-block-start: var(--font-heading-margin-block-start-3);
  }
  h2 + h3 {
    margin-block-start: var(--font-heading-margin-block-start-4);
  }
  h3 + h4 {
    margin-block-start: var(--font-heading-margin-block-start-5);
  }

  :is(h1, h2, h3, h4).display {
    font-family: var(--font-display-family);
    font-weight: var(--font-display-weight);
  }

  h1.display {
    font-size: var(--font-display-size-1);
    margin-block-start: var(--font-display-margin-block-start-1);
  }

  h2.display {
    font-size: var(--font-display-size-2);
    margin-block-start: var(--font-display-margin-block-start-2);
  }

  h3.display {
    font-size: var(--font-display-size-3);
    margin-block-start: var(--font-display-margin-block-start-2);
  }

  h4.display {
    font-size: var(--font-display-size-4);
    margin-block-start: var(--font-display-margin-block-start-2);
  }

  :is(.topic-block, .topic-card) {
    margin-block-start: var(--space-xs-r3);
  }

  :is(.topic-featured, .topic-headline, .topic-hero, .topic-profile, .topic-quote, .topic-showcase) {
    margin-block-start: var(--space-s-r3);
  }

}
