:root {
 	--border-radius-circle: 9999px;
 	--border-radius-pill: 0.5rem;
 	--border-radius-rounded: 0.35rem;
 	--button-primary-color: var(--color-primary-400);
 	--button-primary-contrast-color: var(--color-mono-000);
 	--color-mono-000: hsl(0, 0%, 100%);
 	--color-mono-100: hsl(0, 0%, 90%);
 	--color-mono-200: hsl(0, 0%, 75%);
 	--color-mono-300: hsl(0, 0%, 60%);
 	--color-mono-400: hsl(0, 0%, 45%);
 	--color-mono-500: hsl(0, 0%, 30%);
 	--color-mono-600: hsl(0, 0%, 15%);
 	--color-mono-700: hsl(0, 0%, 0%);
 	--color-primary-100: hsl(216, 73%, 90%);
 	--color-primary-200: hsl(216, 73%, 75%);
 	--color-primary-300: hsl(216, 73%, 60%);
 	--color-primary-400: hsl(216, 73%, 45%);
 	--color-primary-500: hsl(216, 73%, 30%);
 	--color-primary-600: hsl(216, 73%, 15%);
 	--font-body-family: Montserrat, 'Helvetica Neue', sans-serif;
 	--font-body-margin-block-start: clamp(0.5625rem, 0.106rem + 2.2826vi, 1.875rem);
 	--font-body-size: clamp(1rem, 0.9432rem + 0.2273vi, 1.125rem);
 	--font-body-weight: 400;
 	--font-body-weight-bold: 600;
 	--font-display-family: Montserrat, 'Helvetica Neue', sans-serif;
 	--font-display-margin-block-start-1: clamp(2.25rem, 1.2935rem + 4.7826vi, 5rem);
 	--font-display-margin-block-start-2: clamp(1.6875rem, 0.9701rem + 3.587vi, 3.75rem);
 	--font-display-margin-block-start-3: clamp(0.875rem, 0.5272rem + 1.7391vi, 1.875rem);
 	--font-display-margin-block-start-4: clamp(0.875rem, 0.5272rem + 1.7391vi, 1.875rem);
 	--font-display-margin-block-start-5: clamp(0.5625rem, 0.3234rem + 1.1957vi, 1.25rem);
 	--font-display-size-1: clamp(2.986rem, 2.3926rem + 2.3737vi, 4.2915rem);
 	--font-display-size-2: clamp(2.4883rem, 2.0588rem + 1.718vi, 3.4332rem);
 	--font-display-size-3: clamp(2.0736rem, 1.7677rem + 1.2236vi, 2.7466rem);
 	--font-display-size-4: clamp(1.728rem, 1.5147rem + 0.8532vi, 2.1973rem);
 	--font-display-weight: 800;
 	--font-heading-family: Montserrat, 'Helvetica Neue', sans-serif;
 	--font-heading-margin-block-start-1: clamp(2.25rem, 1.2935rem + 4.7826vi, 5rem);
 	--font-heading-margin-block-start-2: clamp(1.6875rem, 0.9701rem + 3.587vi, 3.75rem);
 	--font-heading-margin-block-start-3: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem);
 	--font-heading-margin-block-start-4: clamp(0.875rem, 0.5272rem + 1.7391vi, 1.875rem);
 	--font-heading-margin-block-start-5: clamp(0.5625rem, 0.3234rem + 1.1957vi, 1.25rem);
 	--font-heading-size-1: clamp(2.4883rem, 2.0588rem + 1.718vi, 3.4332rem);
 	--font-heading-size-2: clamp(2.0736rem, 1.7677rem + 1.2236vi, 2.7466rem);
 	--font-heading-size-3: clamp(1.728rem, 1.5147rem + 0.8532vi, 2.1973rem);
 	--font-heading-size-4: clamp(1.44rem, 1.2955rem + 0.5778vi, 1.7578rem);
 	--font-heading-weight: 600;
 	--font-size--1: clamp(0.8333rem, 0.803rem + 0.1212vi, 0.9rem);
 	--font-size--2: clamp(0.6944rem, 0.6828rem + 0.0465vi, 0.72rem);
 	--font-size-0: clamp(1rem, 0.9432rem + 0.2273vi, 1.125rem);
 	--font-size-1: clamp(1.2rem, 1.1063rem + 0.375vi, 1.4063rem);
 	--font-size-2: clamp(1.44rem, 1.2955rem + 0.5778vi, 1.7578rem);
 	--font-size-3: clamp(1.728rem, 1.5147rem + 0.8532vi, 2.1973rem);
 	--font-size-4: clamp(2.0736rem, 1.7677rem + 1.2236vi, 2.7466rem);
 	--font-size-5: clamp(2.4883rem, 2.0588rem + 1.718vi, 3.4332rem);
 	--font-size-6: clamp(2.986rem, 2.3926rem + 2.3737vi, 4.2915rem);
 	--font-size-7: clamp(3.5832rem, 2.7735rem + 3.2386vi, 5.3644rem);
 	--gutter: clamp(0.875rem, 0.3098rem + 2.8261vi, 2.5rem);
 	--wrapper-width: 80rem;
 	--space-2xl: clamp(4.5rem, 4.3187rem + 0.8791vi, 5rem);
 	--space-2xs: clamp(0.5625rem, 0.5398rem + 0.1099vi, 0.625rem);
 	--space-2xs-r2: clamp(0.5625rem, 0.3234rem + 1.1957vi, 1.25rem);
 	--space-2xs-r3: clamp(0.5625rem, 0.106rem + 2.2826vi, 1.875rem);
 	--space-3xl: clamp(6.75rem, 6.478rem + 1.3187vi, 7.5rem);
 	--space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
 	--space-3xs-r2: clamp(0.3125rem, 0.0951rem + 1.087vi, 0.9375rem);
 	--space-3xs-r3: clamp(0.3125rem, -0.0136rem + 1.6304vi, 1.25rem);
 	--space-l: clamp(2.25rem, 2.1593rem + 0.4396vi, 2.5rem);
 	--space-l-r2: clamp(2.25rem, 1.2935rem + 4.7826vi, 5rem);
 	--space-l-r3: clamp(2.25rem, 0.4239rem + 9.1304vi, 7.5rem);
 	--space-m: clamp(1.6875rem, 1.6195rem + 0.3297vi, 1.875rem);
 	--space-m-r2: clamp(1.6875rem, 0.9701rem + 3.587vi, 3.75rem);
 	--space-m-r3: clamp(1.6875rem, 0.5353rem + 5.7609vi, 5rem);
 	--space-s: clamp(1.125rem, 1.0797rem + 0.2198vi, 1.25rem);
 	--space-s-r2: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem);
 	--space-s-r3: clamp(1.125rem, 0.212rem + 4.5652vi, 3.75rem);
 	--space-xl: clamp(3.375rem, 3.239rem + 0.6593vi, 3.75rem);
 	--space-xl-r2: clamp(3.375rem, 1.9402rem + 7.1739vi, 7.5rem);
 	--space-xs: clamp(0.875rem, 0.8523rem + 0.1099vi, 0.9375rem);
 	--space-xs-r2: clamp(0.875rem, 0.5272rem + 1.7391vi, 1.875rem);
 	--space-xs-r3: clamp(0.875rem, 0.3098rem + 2.8261vi, 2.5rem);
}
