.markdown {
	font-family: var(--font-body-family);
	font-size: var(--font-size-0);
	font-weight: var(--font-body-weight);

	hr {
		border: 0.5px solid var(--color-mono-200);
		color: var(--color-mono-100);
		margin: var(--space-xl) 0;
		width: 100%;
	}

	picture,
	img {
		width: 100%;
	}

  a {
    color: currentColor;
    text-underline-offset: 2px;
  }

  a:hover {
    text-underline-offset: 4px;
  }

  :is(h1, h2, h3, h4) {
    font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
  }

  p {
    margin-block-start: var(--space-s);
    margin-block-end: var(--space-s);
  }

  h1 {
    font-size: var(--font-size-5);
    margin-block-start: var(--space-xl);
    margin-block-end: var(--space-m);
  }

  h2 {
    font-size: var(--font-size-4);
    margin-block-start: var(--space-xl);
    margin-block-end: var(--space-m);
  }

  h3 {
    font-size: var(--font-size-3);
    margin-block-start: var(--space-l);
    margin-block-end: var(--space-xs);
  }

  h4 {
    font-size: var(--font-size-2);
    margin-block-start: var(--space-l);
    margin-block-end: var(--space-xs);
  }

  :is(h1, h2, h3, h4).display {
    font-family: var(--font-display-family);
    font-weight: var(--font-display-weight);
  }

  h1.display {
    font-size: var(--font-size-7);
    margin-block: var(--space-xl);
  }

  h2.display {
    font-size: var(--font-size-6);
    margin-block: var(--space-l);
  }

  h3.display {
    font-size: var(--font-size-5);
    margin-block: var(--space-m);
  }

  h4.display {
    font-size: var(--font-size-4);
    margin-block: var(--space-s);
  }

  :is(.topic.topic-block,
    .topic.topic-card) {
    margin-block-end: var(--space-s);
  }

  :is(.topic.topic-headline,
    .topic.topic-hero,
    .topic.topic-profile,
    .topic.topic-quote) {
    margin-block-end: var(--space-xl);
  }

  :is(.topic.topic-headline,
    .topic.topic-profile,
    .topic.topic-quote) {
    margin-block-start: var(--space-xl);
  }
}
