.markdown {
  a {
    color: currentColor;
    text-underline-offset: 2px;
  }

  a:hover {
    text-underline-offset: 4px;
  }

  :is(h1, h2, h3, h4) {
    font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
    margin-block-start: 0;
  }

  h1 {
    font-size: var(--font-size-5);
  }

  h2 {
    font-size: var(--font-size-4);
  }

  h3 {
    font-size: var(--font-size-3);
  }

  h4 {
    font-size: var(--font-size-2);
  }

  :is(h1, h2, h3, h4).display {
    font-family: var(--font-display-family);
    font-weight: var(--font-display-weight);
  }

  h1.display {
    font-size: var(--font-size-7);
  }

  h2.display {
    font-size: var(--font-size-6);
  }

  h3.display {
    font-size: var(--font-size-5);
  }

  h4.display {
    font-size: var(--font-size-4);
  }

  :is(.topic.topic-block,
    .topic.topic-card) {
    margin-block-end: var(--space-s);
  }

  :is(.topic.topic-headline,
    .topic.topic-hero,
    .topic.topic-profile,
    .topic.topic-quote) {
    margin-block-end: var(--space-xl);
  }

  :is(.topic.topic-headline,
    .topic.topic-profile,
    .topic.topic-quote):first-of-type {
    margin-block-start: var(--space-xl);
  }
}
