:host {
  display:block;
  width: 100%;
}

#root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#slider {
  display: flex;
  margin: 0 auto;
  -ms-overflow-style: none;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

#slider::-webkit-scrollbar {
  display: none;
}

/* Slides */
#slider>* {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100%;
}

#dots {
  display: flex;
  gap: 0.5rem;
}

#dots>span {
  background-color: var(--color-mono-200);
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 1rem;
  transition: background-color 0.5s ease;
  width: 1rem;
}

#dots>span:hover {
  background-color: var(--color-mono-500);
}

#dots>span.active {
  background-color: var(--color-mono-500);
}

.slide-a {
  background: var(--color-primary-100);
}

.slide-b {
  background: var(--color-primary-200);
}
