:host {
  display: inline;
}

svg {
  vertical-align: sub;
}

svg[variant="xs"] {
  width: 1rem;
  height: 1rem;
}

svg[variant="s"] {
  width: 1.25rem;
  height: 1.25rem;
}

svg[variant="m"] {
  width: 1.5rem;
  height: 1.5rem;
}

svg[variant="l"] {
  width: 2rem;
  height: 2rem;
}

svg[variant="xl"] {
  width: 3.125rem;
  height: 3.125rem;
}
