/* COLORS */

:root {
	--color-primary-100: #dae7f9;
	--color-primary-200: #90b6ee;
	--color-primary-300: #4685e3;
	--color-primary-400: #1c5ab9;
	--color-primary-500: #11366f;
	--color-primary-600: #061225;

	--color-secondary-100: #fff1ea;
	--color-secondary-200: #ffb895;
	--color-secondary-300: #ff8040;
	--color-secondary-400: #ea4e00;
	--color-secondary-500: #953200;
	--color-secondary-600: #401500;

	--color-monochrome-100: #eaeaea;
	--color-monochrome-200: #bfbfbf;
	--color-monochrome-300: #959595;
	--color-monochrome-400: #6a6a6a;
	--color-monochrome-500: #404040;
	--color-monochrome-600: #151515;
	--color-monochrome-700: #000000;
	--color-monochrome-000: #ffffff;
}
