:host {
  display: block;
  width: 100%;
}

.navigation-header {
  /* Needed for the modal to work inside a virtual DOM */
  position: relative;
  z-index: 100;

  .branding {
    color: var(--color-mono-500);
    font-weight: var(--font-body-weight-bold);
    text-decoration: none;
  }

  a, a:visited {
    color: currentColor;
    /* Vertically center lonely icons */
    display: flex;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .wide-menu-view {
    display: none;

    @container (min-width: 45rem) {
      & {
        justify-content: space-between;
      }

      &,
      .main-actions,
      .social-actions,
      .main-actions ul,
      .social-actions ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-2xs);
      }

      .main-actions,
      .social-actions {
        gap: var(--space-xs);
      }
    }
  }

  .open-menu-button {
    border-radius: var(--border-radius-rounded);
    display: block;
    margin-inline-start: auto;

    @container (min-width: 45rem) {
      & {
        display: none;
      }
    }
  }
}
