:host {
  display:block;
}

#root-container {
  column-gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
}

#root-container>* {
  width: 100%;
}

@media (min-width: 768px) {
  #root-container {
    flex-direction: row;
    row-gap: 2rem;
  }

  #root-container>* {
    width: calc(25% - (6rem/4));
  }
}
