.u-color-primary-100 {
  color: var(--color-primary-100);
}
.u-color-primary-200 {
  color: var(--color-primary-200);
}

.u-color-primary-300 {
  color: var(--color-primary-300);
}

.u-color-primary-400 {
  color: var(--color-primary-400);
}

.u-color-primary-500 {
  color: var(--color-primary-500);
}

.u-color-primary-600 {
  color: var(--color-primary-600);
}


.bg-primary-100 {
  background: var(--color-primary-100);
}
.bg-primary-200 {
  background: var(--color-primary-200);
}

.bg-primary-300 {
  background: var(--color-primary-300);
}

.bg-primary-400 {
  background: var(--color-primary-400);
}

.bg-primary-500 {
  background: var(--color-primary-500);
}

.bg-primary-600 {
  background: var(--color-primary-600);
}
