.u-max-chars-70 {
  max-width: 70ch
}

.u-max-chars-60 {
  max-width: 60ch
}

.u-max-chars-50 {
  max-width: 50ch
}

.u-max-chars-40 {
  max-width: 40ch
}

.u-max-chars-30 {
  max-width: 30ch
}

.u-max-chars-20 {
  max-width: 20ch
}
