:host {
  display:block;
  width: 100%;
}

#topic-container {
  align-items: center;
  justify-content: center;
  color: var(--color-monochrome-000);
  display: flex;
  position: relative;
  width: 100%;
}

#topic-picture {
  width: 100%;
}

#topic-picture > img {
  aspect-ratio: 4/5;
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}

#topic-content {
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  max-width: var(--container-width);
  padding: 0 5rem;
  position: absolute;
  top: 0;
  width: 100%;
}

#topic-content p {
  font-weight: var(--body-font-weight-bold);
}

#topic-content > feather-icon {
  color: var(--color-primary-300);
}

#topic-content > button {
  margin: 1rem auto 0 0;
}

#topic-content p,
#topic-content h1,
#topic-content h2,
#topic-content h3 {
  margin: 0;
  max-width: 35rem;
}

#topic-labels span {
  color: var(--color-primary-300);
  font-weight: var(--body-font-weight-bold);
  margin: 0 0.75rem 0 0;
}


@media (min-width: 768px) {
  #topic-picture > img {
    aspect-ratio: 2/1;
  }
}
