:host {
  display: block,
}

#topic-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#topic-picture {
  width: 100%;
  order: var(--image-order);
}

#topic-picture > img {
  aspect-ratio: 5/3;
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}

#topic-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

#topic-content > feather-icon {
  color: var(--color-primary-300);
}

#topic-content p,
#topic-content h1,
#topic-content h2,
#topic-content h3 {
  margin: 0;
}

#topic-content > button {
  margin: 0.5rem auto 0 0;
}

#topic-labels span {
  color: var(--color-primary-300);
  margin: 0 0.75rem 0 0;
}

@media (min-width: 768px) {
  #topic-container {
    flex-direction: row;
  }
  #topic-picture {
    width: calc(50% - 2rem);
  }
  #topic-content {
    width: 50%;
  }
}
