.button {
  background-color: var(--button-primary-color);
  border: 1px solid var(--button-primary-color);
  color: var(--button-primary-contrast-color);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  line-height: 1;
  padding: 0.8cap 1.3cap;
  text-decoration: none;
  user-select: none;

  &:focus,
  &:active {
    box-shadow: 0 0 0.5rem var(--color-primary-200);
  }

  &:hover {
    transition: 0.35s;
    filter: brightness(70%);
  }

  &[data-variant='outline'] {
    background-color: transparent;
    color: var(--button-primary-color);
  }

  &[data-variant='stretch'] {
    width: 100%;
  }
}
