/**
 * A fat link is a link that looks like a button but handles a href so that
 * static rendering without Javascript is possible.
 *
 */
a.fat-link, a:visited.fat-link {
  background-color: var(--button-primary-color);
  border: 1px solid var(--button-primary-color);
  color: var(--button-primary-contrast-color);
  cursor: pointer;
  font: inherit;
  line-height: 1;
  padding: 0.9cap 1.5cap;
  text-align: center;
  text-decoration: none;
  user-select: none;

  &:focus,
  &:active {
    box-shadow: 0 0 0.5rem var(--color-primary-200);
  }

  &:hover {
    transition: 0.35s;
    filter: brightness(70%);
  }

  &[variant='outline'] {
    background-color: transparent;
    color: var(--button-primary-color);
  }

  &[variant='stretch'] {
    width: 100%;
  }
}
