.topic.topic-headline {
  align-items: center;
  gap: var(--space-2xl);

  .topic-picture img {
    aspect-ratio: 1/1;
    @container (min-width: 45rem) {
      & {
        aspect-ratio: 9/4;
      }
    }
  }
  
  .topic-content {
   /* 
    * Add padding and max width to content so that the topic can be used full
    * width
    */
    max-width: var(--wrapper-width);
    padding: var(--space-s);

    align-items: center;
    gap: var(--space-m);

    .topic-icon {
      font-size: var(--font-size-5);
    }

    .topic-labels {
      font-size: var(--font-size-1);
      justify-content: center;
    }

    .topic-heading.display {
      font-size: var(--font-size-5);
      max-width: 20ch;
      text-align: center;
    }

    .topic-abstract {
      font-size: var(--font-size-1);
      max-width: 40ch;
      text-align: center;
      text-wrap: balance;
    }

    .topic-action {
      font-size: var(--font-size-1);
    }
  }
}
