.topic.topic-hero {
  align-items: center;
  color: var(--color-mono-000);
  gap: var(--space-l);
  position: relative;

  .topic-picture {
    aspect-ratio: 2/3;

    @container (min-width: 45rem) {
      & {
        aspect-ratio: 15/7;
      }
    }
  }

  .topic-content {
    bottom: 0;
    justify-content: center;
    max-width: var(--wrapper-width);
    padding: var(--space-2xl);
    position: absolute;
    top: 0;
    width: 100%;
    gap: var(--space-m);

    .topic-icon {
      font-size: var(--font-size-5);
    }

    .topic-labels {
      font-size: var(--font-size-1);
      font-weight: var(--font-body-weight-bold);
      justify-content: center;
    }

    .topic-heading.display {
      font-size: var(--font-size-5);
      max-width: 30ch;
    }

    .topic-abstract {
      font-size: var(--font-size-1);
      font-weight: var(--font-body-weight-bold);
      flex: 0;
      max-width: 40ch;
      text-wrap: balance;
    }

    .topic-action {
      font-size: var(--font-size-1);
    }
  }
}
