:host {
  display: block,
}

#topic-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

#topic-picture {
  display: flex;
  justify-content: flex-end;
  order: var(--image-order);
  max-width: 100%;
}

#topic-picture > img {
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: block;
  object-fit: cover;
  max-width: 200px;
  width: 100%;
}

#topic-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  justify-content: center;
}

#topic-content > feather-icon {
  color: var(--color-primary-300);
}

#topic-abstract {
  font-style: italic;
  text-align: center;
}

#topic-content p,
#topic-content h1,
#topic-content h2,
#topic-content h3 {
  margin: 0;
}

#topic-content > button {
  margin: 0.5rem auto 0 auto;
}

#topic-labels {
  text-align: center;
}

#topic-labels span {
  color: var(--color-primary-300);
  margin: 0 0.75rem 0 0;
}

@media (min-width: 768px) {
  #topic-container {
    flex-direction: row;
  }
  #topic-picture {
    max-width: 35vw;
  }
  #topic-content {
    max-width: 25vw;
  }
}
