:host {
  display: block;
}

#topic-container {
  border: 1px solid var(--color-monochrome-200);
  border-radius: var(--radius-rounded);
  box-shadow: 0 0 1rem var(--color-monochrome-100);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  transition: transform .20s ease;
}

#topic-container:hover {
  transform: translateY(-0.3rem);
}

#topic-picture {
  order: var(--image-order);
  width: 100%;
}

#topic-picture > img {
  aspect-ratio: 2/1;
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}

#topic-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

#topic-content > feather-icon {
  color: var(--color-primary-300);
}

#topic-content p {
  flex: 1;
}

#topic-content p,
#topic-content h1,
#topic-content h2,
#topic-content h3 {
  margin: 0;
}

#topic-content > button {
  margin: 0.5rem auto 0 0;
}

#topic-labels span {
  color: var(--color-primary-300);
  margin: 0 0.75rem 0 0;
}
