:host {
  display: block;
  line-height: 1.25rem;
}

svg[variant="s"] {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
}

svg[variant="m"] {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

svg[variant="l"] {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

svg[variant="xl"] {
  width: 3.125rem;
  height: 3.125rem;
  vertical-align: middle;
}
