:host {
  display:block;
}

#root-container {
  column-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 4rem;
}

#root-container>* {
  width: 100%;
}

@media (min-width: 768px) {
  #root-container {
    column-gap: 2rem;
    flex-direction: row;
  }

  #root-container>* {
    width: calc(50% - (2rem/2));
  }

  #root-container>*:last-of-type:nth-of-type(odd) {
    width: 100%;
  }
}
